@model IEnumerable<NotifManager.ViewModels.MessageVM>

@{
    ViewBag.Title = "Message";
}

<div class="table-responsive">
    <h2>Mensagens Enviadas</h2>

    <table class="table">
        <tr>
            <th></th>
            <th>
                Aplicativo
            </th>
            <th>
                Título
            </th>
            <th>
                Conteúdo
            </th>
            <th>
                Sub Título
            </th>
            <th>
                Link
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.AppIcon)" style="width: 30px;"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubTitle)
                </td>
                <td>
                    <a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Url)</a>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                </td>
            </tr>
        }

    </table>
</div>
